<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="views/fragments/head_block :: head_block">
    <title id="pageTitle">Deals to buy</title>
</head>
<body>
<div th:replace="views/fragments/main_header :: main_header"></div>

<div class="addmarg">
    <h2>Tickets, u want 2 buy</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Event</th>
            <th>Seller</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deal : ${deals}">
            <td><a th:text="${deal.ticket.event.title}" th:href="@{/user_deals_buy(dealId=${deal.id})}"></a>
            </td>
            <td th:text="${deal.seller.name}">Doe</td>
            <td th:text="${deal.ticket.cost}">Smth</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>